USE [master]
GO
/****** Object:  Database [RegisterStudent]    Script Date: 04/11/2022 10:29:42 pm ******/
CREATE DATABASE [RegisterStudent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Register Student', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Register Student.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Register Student_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\Register Student_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegisterStudent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegisterStudent]
GO
/****** Object:  Table [dbo].[tbl_student]    Script Date: 04/11/2022 10:29:42 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_student](
	[Registration ID] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[FatherName] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[RNo] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Email] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
